<div class="container">
  <div class="child">

    <h1>Car Dealership Challenge</h1>

    <h3>Created by Elizabeth Fun</h3>

<form [formGroup]="carDes">

<div>
  <label>
    Select A Color
  </label>

  <select
    name="color"
    [formControl]="color">
    <option *ngFor="let color of colors" 
    [value]="color.value">
      {{color.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Sunroof?
  </label>

  <select
    name="sunroof"
    [formControl]="sunroof">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    4 Wheel Drive?
  </label>

  <select
    name="fourWheel"
    [formControl]="fourWheel">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Low Mileage?
  </label>

  <select
    name="lowMileage"
    [formControl]="lowMileage">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Power Windows?
  </label>

  <select
    name="powerWindows"
    [formControl]="powerWindows">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Navigation?
  </label>

  <select
    name="navigation"
    [formControl]="navigation">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Heated Seats?
  </label>

  <select
    name="heatedSeats"
    [formControl]="heatedSeats">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

</form>

<hr/>

<div class="carData">
  <ul *ngFor="let car of cars">
    <li>Make: {{car.make}}</li>
    <p>Color: {{car.color}}</p>
    <p>Year: {{car.year}}</p>
    <p>Has Sunroof?: {{car.hasSunroof}}</p>
    <p>Has 4 wheel drive?: {{car.isFourWheelDrive}}</p>
    <p>Has low mileage?: {{car.hasLowMiles}}</p>
    <p>Has power windows?: {{car.hasPowerWindows}}</p>
    <p>Has Navigation?: {{car.hasNavigation}}</p>
    <p>Has heated seats?: {{car.hasHeatedSeats}}</p>
  </ul>  
</div>

  </div>

</div>