<div>
  <label>
    Select A Color
  </label>

  <select>
    <option *ngFor="let color of colors" 
    [value]="color.value">
      {{color.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Sunroof?
  </label>

  <select>
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    4 Wheel Drive?
  </label>

  <select>
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Low Mileage?
  </label>

  <select>
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Power Windows?
  </label>

  <select>
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Navigation?
  </label>

  <select>
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Heated Seats?
  </label>

  <select>
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>