<form [formGroup]="carDes">

<div>
  <label>
    Select A Color
  </label>

  <select
    name="color"
    [formControl]="color">
    <option *ngFor="let color of colors" 
    [value]="color.value">
      {{color.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Sunroof?
  </label>

  <select
    name="sunroof"
    [formControl]="sunroof">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    4 Wheel Drive?
  </label>

  <select
    name="fourWheel"
    [formControl]="fourWheel">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Low Mileage?
  </label>

  <select
    name="lowMileage"
    [formControl]="lowMileage">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Power Windows?
  </label>

  <select
    name="powerWindows"
    [formControl]="powerWindows">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Navigation?
  </label>

  <select
    name="navigation"
    [formControl]="navigation">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

<div>
  <label>
    Heated Seats?
  </label>

  <select
    name="heatedSeats"
    [formControl]="heatedSeats">
    <option *ngFor="let option of options" 
    [value]="option.value">
      {{option.value}}
    </option>
  </select>
</div>

</form>

<hr/>

<div>
    <p>Make: {{desiredCar.make}}</p>
    <p>Color: {{desiredCar.color}}</p>
    <p>Year: {{desiredCar.year}}</p>
    <p>Has Sunroof?: {{desiredCar.hasSunroof}}</p>
    <p>Has 4 wheel drive?: {{desiredCar.isFourWheelDrive}}</p>
    <p>Has low mileage?: {{desiredCar.hasLowMiles}}</p>
    <p>Has power windows?: {{desiredCar.hasPowerWindows}}</p>
    <p>Has Navigation?: {{desiredCar.hasNavigation}}</p>
    <p>Has heated seats?: {{desiredCar.hasHeatedSeats}}</p>
</div>